.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.headerTitle{
  align-self: flex-start;
  padding-right: 10px;
  border-right: 1px solid black;
}

.greetingMessage{
  padding-left: 10px;
  border-left: 1px solid black;
}

.profilePictureContainer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profilePicture{
  max-width: 100%;
  object-fit: cover;
}
